<h2>Past Experiences</h2>

<% @bookings.each do |booking| %>
  <% if booking.end_on < Date.today %>

  <div class="col-4">
    <div class="card-trip">
          <%= cl_image_tag booking.experience.photo, height: 180, width: 290, crop: :thumb, class: 'w-100' %>
      <div class="card-trip-infos">
        <div>
          <h2 class="mb-1"><%= booking.experience.title %></h2>
          <p class="mb-1"><%= booking.experience.description %></p>
          <p><strong>Starts on:</strong> <%= booking.start_on.strftime('%w %B, %Y') %></p>
          <p><strong>Ends on:</strong> <%= booking.end_on.strftime('%w %B, %Y') %></p>
        </div>
          <h2 class="card-trip-pricing">$<%= booking.price %></h2>
      </div>
      <div class="edit">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#postReview">
          Leave a review
        </button>
      </div>
  </div>


  <div class="modal fade" id="postReview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      <%= render 'reviews/new', experience: booking.experience %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

  <% end %>
<% end %>
