<div class="container">
  <div class="row">
    <h2 class="mb-4 mt-4 col-6">Booked Experiences (<%= @bookings.count %>)</h2>
  </div>
  <% @bookings.each do |booking| %>
    <div class="card-product m-3">
    <%= cl_image_tag booking.experience.photo, crop: :thumb, height: 220, width: 240%>
    <div class="card-product-infos py-3 pl-3 pr-5">
      <h3><%= booking.start_on.strftime('%w %B, %Y') %> - <%= booking.end_on.strftime('%w %B, %Y') %></h3>
      <%= link_to experience_path(booking.experience.id) do %>
      <h2><%= booking.experience.title %></h2>
    <% end %>
      <p class="mt-3 mb-4"><%= booking.experience.description %></p>
        <div>
          <a class="btn btn-primary" href="">Download Experience   <i class="fas fa-cloud-download-alt"></i></a>
        </div>
      </div>
    </div>
    <% end %>
</div>

<div class="container">
  <div class="row">
    <h2 class="mb-4 mt-4 col-6">Listed Experiences (<%= @experiences.count %>)</h2>
  </div>
  <% @experiences.each do |experience| %>
    <% if experience.owner == current_user %>
      <%= render "experiences/card", experience: experience %>
    <% end %>
  <% end %>
</div>


