<div class="card-product m-3">
  <%= cl_image_tag experience.photo, class: 'img' %>
  <div class="card-product-infos p-3">
    <%= link_to experience_path(experience.id) do %>
    <h2><%= experience.title %></h2>
    <% end %>
    <p class="mt-2"><%= experience.description %></p>
    <h3 class="mb-3">$<%= experience.price %>/day</h3>
    <%= render 'experiences/update_experience_modal', resource: experience do %>
      <%= simple_form_for experience do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.association :categories,
                include_hidden: false,
                input_html: { multiple: true }  %>
        <%= f.input :price %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <div class="buttons justify-content-between">
          <%= f.button :submit, class: 'btn btn-primary' %>
          <%= f.button :button, "Reset", type: "reset", class: "btn-outline-secondary" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="card-product-actions p-3">
    <% if experience.owner == current_user %>
      <%= link_to " ", experience_path(experience),
        class: 'trash fas fa-trash-alt',
        method: :delete,
        data: { confirm: "Are you sure you want to delete: #{experience.title}?" } %>
    <% end %>
  </div>
</div>
