<div class="container" id="index-page">
  <h2 class="mt-3">All experiences (<%= @experiences.count %>)</h2>
  <%= render 'shared/search_form' %>
  <div class="error-message mt-2">
    <% if flash[:empty_search] %>
    <p><%= flash[:empty_search] %></p>
    <% end %>
  </div>
</div>


<div class="row">
  <% @experiences.each do |experience| %>
  <div class="col-lg-4 col-sm-12">
    <%= link_to experience_path(experience.id) do %>
      <div class="card-trip card-zoom mt-4">
       <% if experience.photo? %>
            <%= cl_image_tag experience.photo, height: 180, width: 290, class: 'card-img-top', crop: :thumb %>
            <% else %>
            <%= image_tag experience.picture_url, height: 180, width: 290, class: 'card-img-top', crop: :thumb %>
            <% end %>
        <div class="card-trip-infos">
          <div>
            <h2 class="mb-1"><%= experience.title %></h2>
            <p><%= experience.description %></p>
          </div>
        </div>
          <div class="card-category">
            <% experience.categories.each do |category| %>
              <span class="badge badge-info p-1"><%= category.name %></span>
            <% end %>
          </div>

          <div class="card-trip-price">
            <h3> $<%= experience.price %>/day</h3>
          </div>


      </div>
    <% end %>
  </div>
  <% end %>
</div>

