<div class="container">
  <h2 class="mt-3">All experiences (<%= @experiences.count %>)</h2>
  <div class="cards">
    <ul>
      <% @experiences.each do |experience| %>
        <li>
          <div class="card">
            <%= cl_image_tag experience.photo, height: 180, width: 290, class: 'card-img-top', crop: :thumb %>
            <div class="card-body">
              <h5 class="card-title"><%= experience.title %></h5>
              <p class="card-text"><%= experience.description %></p>
              <p class="text-muted card-body-bottom"><i class="fas fa-dollar-sign"></i><%= experience.price %></p>

            </div>
            <div class="card-footer text-muted text-left">
              <%= link_to 'More info', '#'  %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>






  <div class="row">
  <% @experiences.each do |experience| %>
    <div class="col-6">
      <div class="card mb-3" style="max-width: 540px; display: flex; ">
        <div class="row no-gutters">
          <div class="col-md-4">
            <%= cl_image_tag experience.photo, height: 300, width: 200, crop: :thumb %>
            <!-- <img src="https://dummyimage.com/300x200/fff/aaa" class="card-img" alt="..."> -->
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= experience.title %></h5>
              <p class="card-text"><%= experience.description %></p>
              <p class="card-text"><large class="text-muted"><%= experience.price %></small></p>
            </div>
          </div>
        </div>
      </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
