<div class="container">
  <h2 class="mt-3">All experiences (<%= @experiences.count %>)</h2>
  <div class="cards">
    <ul>
      <% @experiences.each do |experience| %>
        <li>
          <div class="card">
            <%= cl_image_tag experience.photo, height: 180, width: 290, class: 'card-img-top', crop: :thumb %>
            <div class="card-body">
              <h5 class="card-title"><%= experience.title %></h5>
              <p class="card-text"><%= experience.description %></p>
              <p class="text-muted card-body-bottom"><i class="fas fa-dollar-sign"></i><%= experience.price %></p>

            </div>
            <div class="card-footer text-muted text-left">
              <%= link_to 'More info', '#'  %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>





