<div class="container">
  <div class="card">
    <div class="card-body">

      <% if @experience.photo? %>
      <%= cl_image_tag @experience.photo, height: 180, width: 290, class: 'card-img-top', crop: :thumb %>
      <% else %>
      <%= cl_image_tag @experience.picture_url, height: 180, width: 290, class: 'card-img-top mb-3', crop: :thumb %>
      <% end %>

      <h1><%= @experience.title %></h1>

      <p><%= @experience.description %></p>
      <p><strong>Made by:</strong> <%= @experience.owner.name  %></p>
      <p><strong>Created at:</strong> <%= @experience.created_at.strftime("%b %-d, %Y") %><br>
        <strong>Last updated:</strong> <%= @experience.updated_at.strftime("%b %-d, %Y") %></p>

      <p><strong>Price:</strong> $<%= @experience.price %></p>

      <hr>

      <% if @experience.owner == current_user %>
        <%= link_to "delet", experience_path(@experience),
        method: :delete,
        data: { confirm: "Are you sure you want to delete: #{@experience.title}?" } %>
      <% end %>
    </div>
    <div class="card-footer">
      <%= render 'bookings/booking_form' %>
    </div>
  </div>
</div>
