<div class="container experience-show">

      <div class="row mt-5 mb-5">
        <div class="col-6">
          <% if @experience.photo? %>
            <%= cl_image_tag @experience.photo, class: 'card-img-top mb-3' %>
            <% else %>
            <%= cl_image_tag @experience.picture_url, class: 'card-img-top mb-3' %>
          <% end %>
        </div>

        <div class="col-6">
          <h1><%= @experience.title %></h1>

          <p><%= @experience.description %></p>

          <% if @experience.owner.name %>
            <p><strong>Made by:</strong> <%= @experience.owner.name  %></p>
          <% end %>

          <p><strong>Created at:</strong> <%= @experience.created_at.strftime("%b %-d, %Y") %><br>
            <strong>Last updated:</strong> <%= @experience.updated_at.strftime("%b %-d, %Y") %></p>
          <p><strong>Price per day:</strong> $<%= @experience.price %></p>
        </div>

        </div>
      </div>


    <div class="card mb-5">
      <h4>Rent <%= @experience.title %></h4>
      <%= render 'bookings/booking_form' %>
    </div>

</div>
