</div>

<div class="container-fluid" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('  <% if @experience.photo? %><%= cl_image_path @experience.photo, class: '' %><% else %><%= cl_image_path @experience.picture_url, class: 'card-img-top mb-3' %><% end %>');background-size:cover;background-position:center; background-attachment: fixed;height:80vh;">

  <div class="row align-items-end h-100 p-5">
    <div class="col-xs col-sm-6">
      <h1 class="text-white"><%= @experience.title %></h1>

        <% if current_user == @experience.owner %>
         <%= render 'experiences/update_experience_modal', resource: @experience do %>
          <%= render 'form', experience: @experience %>
          <% end %>
        <% else %>
          <% if @experience.owner.name %><p class="text-white"><strong>The original owner of this experience is </strong> <%= @experience.owner.name  %> <% end %> </p>
        <% end %>

      </div>


  </div>
</div>

<div class="container show-page-individual">
  <div class="row">
    <div class="col-xs col-sm-7 mt-4 order-xs-2">
      <p><strong>Your cortex will embody the following states upon injecting this experience - </strong>
        <% @experience.categories[0..-2].each do |category| %>
          <%= category.name %>,
        <% end %>
        <%= @experience.categories.last.name unless @experience.categories.empty?%>
      </p>

      <h2 class="mt-5 mb-3">Reviews (<%= @experience.reviews.length %>)</h2>
      <div class="card pl-4 pr-4 pt-4">
        <% @experience.reviews.each do |review| %>
          <div class="row align-items-center pb-4">
            <div class="col-3">
              <%= image_tag "user.png", class: 'img-fluid' %>
            </div>
            <div class="col-9">
              <p><%= review.content %></p>
              <p><strong> <i><%= review.user.name ? review.user.name : "Bob Loblaw" %></i></strong></p>
              <p><% review.rating.to_i.times do |star| %>
                  <i class="fas fa-star"></i>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
        </div>
      </div>

      <div class="col-xs col-sm-4 align-self-start sticky-top order-xs-1" style="margin-top:-100px">
        <% if current_user != @experience.owner %>
          <div class="card mb-5 p-4 ">
            <%= render 'bookings/booking_form' %>
          </div>
        <% end %>
      </div>
    </div>



</div>
